<div class="courses-containers">
  <div class="courses-list">
    <app-courses-list
      [courses]="courses"
      (selected)="selectCourse($event)"
      (deleted)="deleteCourse($event)"
    >
    </app-courses-list>
    <!-- <mat-card>
      <mat-card-header>
        <mat-card-title>
          Course List
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          <mat-list-item *ngFor="let course of courses"
            (click)="selectCourse(course)">
            <h3 matLine>{{course.title}}</h3>
            <p matLine>{{course.description}}</p>
            <button mat-icon-button color="warn"
              (click)="deleteCourse(course.id);$event.stopImmediatePropagation()">
              <mat-icon>delete</mat-icon>
            </button>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card> -->
  </div>

  <div class="course-details">
    <app-course-details
      [course]="selectedCourse"
      (saved)="saveCourse($event)"
      (cancelled)="cancel()"
    ></app-course-details>
  </div>
</div>
